
@model PagedList.IPagedList<BootStrap4.Models.Dang_Ky_Tin.DangKyTinModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý đăng ký tín chỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .overlay {
            background-color: #4268d6;
            opacity: 50%;
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .popup {
            position: fixed;
            z-index: 99;
            vertical-align: central;
            display: none;
            margin-left: 17%;
        }
    </style>
</head>

<html>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary text-center">Đăng ký tín chỉ</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                @using (Html.BeginForm("MethodDKT", "Main", FormMethod.Post))
                                {
                                    <div class="w-100">
                                        <div class="mb-3 col-2 text-left float-left">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                                   aria-label="Search" aria-describedby="basic-addon2" name="searchString">
                                        </div>
                                        <div class="float-left">
                                            <button class="btn btn-primary" name="submitButton" value="Search">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                        <div class="float-left ml-1">
                                            <button class="btn btn-primary" name="submitButton" value="Refresh">
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="text-right mb-2">
                                        <input type="submit" name="submitButton" class="btn btn-primary" value="Hủy đăng ký">
                                    </div>
                                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="col-1 ">
                                                    <input type="checkbox" onClick="selectall(this)" />
                                                </th>
                                                <th>Mã Môn</th>
                                                <th>Tên Môn</th>
                                                <th class="col-1 ">Chọn</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @*@foreach (var item in Model)*@
                                            @for (int i = 0; i < Model.Count; i++)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" class="checkboxid" name="checkboxid" value="@Model[i].MaMon" /></td>
                                                    <td>
                                                        @Html.DisplayFor(Model => Model[i].MaMon, new { @name = "MaMon" })
                                                        @Html.HiddenFor(Model => Model[i].MaMon)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => Model[i].TenMon, new { @name = "TenMon" })
                                                        @Html.HiddenFor(Model => Model[i].TenMon)
                                                    </td>
                                                    <td>
                                                        <span>

                                                            <input type="button" class="btn btn-primary" onclick="Huy(@Model[i].MaMon)" value="Hủy đăng ký" />


                                                        </span>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="float-left col-sm-1">
                                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                    </div>

                                    <div class="float-right  ">
                                        @Html.PagedListPager(Model, page => Url.Action("dangKyTinChi", new { @page }), new PagedListRenderOptions
                                           {
                                               LiElementClasses = new string[] { "paginate_button page-item" },
                                           })
                                    </div>
                                }
                            </div>
                            <script src="~/Scripts/jquery-3.3.1.min.js"></script>
                            <script src="~/Scripts/bootstrap.min.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Fade_area" class="overlay"></div>
        <div id="huyModal" class="popup">
            @Html.Partial("~/Views/Main/PopUpHuyDK.cshtml")
        </div>
    </div>            
        <script>
            $(document).ready(function () {
                $("#Cancel").click(function () {
                    $(".overlay").removeAttr("style");
                    $(".popup").removeAttr("style");
                });
                $("#btnClose").click(function () {
                    $(".overlay").removeAttr("style");
                    $(".popup").removeAttr("style");
                });
            });
            var Huy = function (id) {
                $.ajax({
                    type: 'POST',
                    url: '/Main/FindMH',
                    data: { Id: id },
                    success: function (data) {
                        $("#popUpHuyMaMon").val(data.MaMon)
                        $("#popUpHuyTenMon").val(data.TenMon)
                    }
                });
                $("#Fade_area ,#huyModal").fadeIn();
            };
            var HuyDK = function () {
                id = $("#popUpHuyMaMon").val()
                $.ajax({
                    type: 'POST',
                    url: "/Main/HuyDKT",
                    data: { Id: id },
                    success: function (data) {
                        $("#Fade_area").removeAttr("style");
                        $("#myModal").removeAttr("style");
                        $("#page-top").load("/Main/DangKyTinChi");
                    }
                });
            }
        </script>

</body>

</html>

