@model PagedList.IPagedList<BootStrap4.Models.Tai_Khoan.TaiKhoanModel>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Quản lý Tài Khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .overlay {
            background-color: #4268d6;
            opacity: 50%;
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .popup {
            position: fixed;
            z-index: 99;
            vertical-align: central;
            display: none;
            margin-left: 17%;
        }
    </style>
    <link href="~/Public/css/sb-admin-2.min.css" rel="stylesheet">
</head>


<html>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary text-center">Quản lý tài khoản</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                @using (Html.BeginForm("MethodMonHoc", "Main", FormMethod.Post))
                                {
                                    <div class="w-100">
                                        <div class="mb-2 col-2 text-left float-left">
                                            <input type="text" class=" form-control bg-light border-0 small" placeholder="Search for..."
                                                   aria-label="Search" aria-describedby="basic-addon2" name="searchString">
                                        </div>
                                        <div class="float-left">
                                            <button class="btn btn-primary" name="submitButton" value="Search">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>

                                        </div>
                                        <div class="ml-1 float-left">
                                            <button class="btn btn-primary" name="submitButton" value="Refresh">
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </button>
                                        </div>

                                    </div>

                                }
                                <div class="float-right mr-2">
                                    <input type="submit" class="btn btn-primary" onclick="Create()" value="Tạo">
                                </div>


                                @using (Html.BeginForm("MethodTaiKhoan", "TaiKhoan", FormMethod.Post))
                                {
                                    <div class="float-right mr-2">
                                        <input type="submit" name="submitButton" class="btn btn-primary" value="Xóa">
                                    </div>
                                    <table class="table table-bordered te text-center" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr role="row">
                                                <th class="col-1 ">
                                                    <input type="checkbox" onClick="selectall(this)" />
                                                </th>
                                                <th>Tên tài khoản</th>
                                                <th>Mật khẩu</th>
                                                <th>Quyền</th>
                                                <th class="col-2">Chọn</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Count(); i++)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="CheckboxId" value="@Model[i].TenTaiKhoan" id="checkboxid"
                                                               name="checkboxid" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => Model[i].TenTaiKhoan, new { @name = "TenTaiKhoan" })
                                                        @Html.HiddenFor(Model => Model[i].TenTaiKhoan)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => Model[i].MatKhau, new { @name = "MatKhau" })
                                                        @Html.HiddenFor(Model => Model[i].MatKhau)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => Model[i].Quyen, new { @name = "Quyen" })
                                                        @Html.HiddenFor(Model => Model[i].Quyen)
                                                    </td>
                                                    <td>
                                                        <span>
                                                            <a href="#" class="btn btn-primary btn-user btnEdit" data-target="#myModal" onclick="Edit(@Model[i].TenTaiKhoan)">Edit</a>
                                                            <a href="#" class="btn btn-danger btn-user btnDelete" data-target="#delModal" onclick="Delete(@Model[i].TenTaiKhoan)">Delete</a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="float-left col-sm-1">
                                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                    </div>

                                    <div class="float-right  ">
                                        @Html.PagedListPager(Model, page => Url.Action("quanLyMonHoc", new { @page }), new PagedListRenderOptions
                                           {
                                               LiElementClasses = new string[] { "paginate_button page-item" },
                                           })
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/Scripts/jquery-3.3.1.min.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>

            </div>
        </div>
        <div id="Fade_area" class="overlay">
        </div>
        <div id="createTkModal" class="popup">
            @Html.Partial("~/Views/Main/PCreateTK.cshtml")
        </div>
        <div id="delTkModal" class="popup">
            @Html.Partial("~/Views/Main/PDelTK.cshtml")
        </div>
        <div id="editTkModal" class="popup">
            @Html.Partial("~/Views/Main/PEdit.cshtml")
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#Cancel").click(function () {
                $(".overlay").removeAttr("style");
                $(".popup").removeAttr("style");
                //$("#Fade_area").removeAttr("style");
                //$(".partial, #myModal").removeAttr("style");
                //$(".partial,#delModal").removeAttr("style");
                //$(".partial,#regisModal").removeAttr("style");

            });
            $("#btnClose").click(function () {
                $(".overlay").removeAttr("style");
                $(".popup").removeAttr("style");
                //$("#Fade_area").removeAttr("style");
                //$("#myModal").removeAttr("style");
                //$("#delModal").removeAttr("style");
                //$("#regisModal").removeAttr("style");
            });
        });
        var Edit = function (id) {
            $.ajax({
                type: 'POST',
                url: "/Main/GetTK",
                data: { Id: id },
                success: function (data) {
                    $("#tenTK").val(data.TenTK)
                    $("#mK").val(data.MatKhau)
                    $("#quyen").val(data.Quyen)
                }
            });
            $("#Fade_area ,#editTkModal").fadeIn();
        }
        var Update = function () {
            tentk   = $("#tenTK").val()
            matkhau = $("#mK").val()
            quyen   = $("#quyen").val()
            $.ajax({
                type: 'POST',
                url: "/Main/UpdateTK",
                data: { maMon: id, tenMon: tenmon },
                success: function (data) {
                    $("#Fade_area").removeAttr("style");
                    $("#editModal").removeAttr("style");
                    $("#page-top").load("/TaiKhoan/QuanLyTaiKhoan");
                }
            });
        }

        var Delete = function (id) {
            $.ajax({
                type: 'POST',
                url: "/Main/FindMH",
                data: { Id: id },
                success: function (data) {
                    $("#PopUpDelMaMon").val(data.MaMon)
                    $("#PopUpDelTenMon").val(data.TenMon)
                }
            });
            $("#Fade_area ,#delModal").fadeIn();
        }

        var DeleteMhYes = function () {
            id = $("#PopUpDelMaMon").val()
            $.ajax({
                type: 'POST',
                url: "/Main/DeleteMH",
                data: { Id: id },
                success: function (data) {
                    $("#Fade_area").removeAttr("style");
                    $("#myModal").removeAttr("style");
                    $("#page-top").load("/Main/QuanLyMonHoc");
                }
            });
        }

        var Regis = function (id) {
            $.ajax({
                type: 'POST',
                url: "/Main/FindMH",
                data: { Id: id },
                success: function (data) {
                    $("#PopUpMaMon").val(data.MaMon)
                    $("#PopUpTenMon").val(data.TenMon)
                }
            });
            $("#Fade_area,#regisModal").fadeIn();
        }

        var RegisMhYes = function () {
            id = $("#PopUpMaMon").val()
            $.ajax({
                type: 'POST',
                url: "/Main/CreateDK",
                data: { Id: id },
                success: function (data) {
                    $("#Fade_area").removeAttr("style");
                    $("#regisModal").removeAttr("style");
                    $("#page-top").load("/Main/QuanLyMonHoc");
                }
            });
        }
        var Create = function () {
            $("#Fade_area ,#createModal").fadeIn();
        }
        var CreateMH = function () {
            id = $("#PCreateMaMon").val()
            tenMon = $("#PCreateTenMon").val()
            $.ajax({
                type: 'POST',
                url: "/Main/CreateMH",
                data: { maMon: id, tenMon: tenMon },
                success: function (data) {
                    $("#Fade_area").removeAttr("style");
                    $("#createModal").removeAttr("style");
                    $("#page-top").load("/Main/QuanLyMonHoc");
                }
            });
        }
    </script>
</body>

</html>